{
  "extends": ["next", "next/core-web-vitals"],
  "plugins": ["simple-import-sort"],
  "rules": {
    "import/no-duplicates": ["error"],
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error"
  }
}
