{
  "extends": ["next", "next/core-web-vitals"],
  "plugins": ["simple-import-sort", "testing-library"],
  "rules": {
    "import/no-duplicates": ["error"],
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error"
  },
  "overrides": [
    // Only uses Testing Library lint rules in test files
    {
      "files": [
        "**/__tests__/**/*.[jt]s?(x)",
        "**/?(*.)+(spec|test).[jt]s?(x)"
      ],
      "extends": ["plugin:testing-library/react"]
    }
  ]
}
