$InterPath: '/fonts' !default;
$InterVersion: '3.19' !default;

@mixin fontdef($FontType: 'Regular') {
  src: url('#{$InterPath}/Inter/Inter-#{$FontType}.woff2?v=#{$InterVersion}')
      format('woff2'),
    url('#{$InterPath}/Inter/Inter-#{$FontType}.woff?v=#{$InterVersion}')
      format('woff');
}

@font-face {
  font-family: 'Inter';
  @include fontdef('Bold');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  @include fontdef('SemiBold');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  @include fontdef('Medium');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  @include fontdef('Regular');
  font-weight: 400;
  font-style: normal;
}
